.content {
  padding: 10px;
}


/* .content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
} */

.content .description {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  font-size: 12px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.64);
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

/* button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
} */