.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 200px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(52, 52, 52, 0.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #ffffff;
  /* background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%); */
}

.content {
  padding: 20px;
}


/* .content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
} */

.content .description {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  font-size: 12px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.64);
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

/* button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
} */